*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'sora';
  }
  h2{
      text-align: center;
      
  }
  /*NAV bar code*/
.navContainer{
    width: 80%;
    margin: 0 auto;
    
}

header{
    background: #E5EFF1;
}

header::after{
    content: '';
    display: table;
    clear:  both;
}
.logo{
    float:left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 29px;

    position: relative;
}

nav a{
    color:#0073aa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%;
}

/*Hero image code */
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(immigration.jpg) no-repeat center;
    background-size: cover;
}

.hero-title{
    position: absolute;
    text-shadow: 2px 2px 5px black;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
    /*check to see if font weight needed*/
    text-transform: uppercase;
    
}

.hero-title h1{
    font-size: 72px;
    /*check if letter spacing needed*/
}

hr{
    height: 10px;
    background-image: linear-gradient(to right, #0073aa, #347594);
    margin-bottom: 2em;
}

.learnMore{
    border:none;
    background-color: #347594;
    padding: 1em;
    border-radius: 5px;
}

.learnMore a{
    text-decoration: none;
    color: white;
    text-align: center;
}
/*Body CSS*/
h2{
    color:#347594;
}
.main-body{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.index-text{
    padding:0 5em 0 5em;
    color: #0c4159;
    line-height: 2;
    
}
.index-image{
    padding-left: 6em ;

    width:300px;
    height: auto;
}

/*Footer CSS*/

footer {
    left: 0; 
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 30px;
    padding: 20px;
    text-decoration: none;
    margin-top: 3em;
}
  
footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 10px;
}
  
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
footer ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
  
footer ul li a {
    color: #347594;
}
  
footer ul li a:hover {
    opacity: 50%;
    color: #347594;
}
