body{
    color: #e5eff1;
    font-family: 'Sora';
}
*{
    margin: 0;
    padding: 0;
}

  h2{
      text-align: center; 
  }

 /*NAV bar code*/
.navContainer{
    width: 80%;
    margin: 0 auto;
    
}

header{
    background: #E5EFF1;
}

header::after{
    content: '';
    display: table;
    clear:  both;
}
.logo{
    float:left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 29px;

    position: relative;
}

nav a{
    color:#0073aa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width:100%;
}
/*this is the showacse*/
.content{
    color: #0c4159;
    line-height: 40px;
}
/*This is the header and Calendar par*/
.calendar{
    padding-top: 30px;
}
.title{
    color: #0c4159;
    text-align: center;
}
/*Month Header*/
.month{
    height: 200px;
    width: 100%;
    background: #0c4159;
    text-align: center;
}

/*Month List*/
.month ul{
    margin: 0;
    padding: 0;
}

.month ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/*Previous button inside month header*/
.month .prev{
    float: left;
    padding-top: 10px;
}
/*Next Button*/
.month .next{
    float: right;
    padding-top: 10px;
}
/*Weekdays (mon-sun)*/
.weekdays{
    display: 0;
    padding: 20px;
    background-color: #347594;
}

.weekdays li{
    display: inline-block;
    width: 13.6%;
    color:white;
    text-align: center;
}

/*Days (1-31)*/

.days{
    padding: 10px 0;
    background: #00bcd4;
    margin: 0;
}

.days li{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: white;
}

.days li:hover{
    color: blue;
}


/* This is the Contact Page*/

.contact{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    padding-top: 30px;
    padding-bottom: 40px;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: solid 2px black;
    
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#347594;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #0c4159;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h2{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    grid-column-start: col-start 1;
    width: 50%;
    padding: 40px;
    background-color: #e5eff1;
}
.contactform h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
.contactform label{
    color: black;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
}
@media(Max-width: 600px){
    .contact{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .container .contactInfo{
        border-right: none;
    }
}
/*Footer CSS*/

footer {
    left: 0; 
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 30px;
    text-decoration: none;
}
  
footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 10px;
}
  
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
footer ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
  
footer ul li a {
    color: #347594;
}
  
footer ul li a:hover {
    opacity: 50%;
    color: #347594;
}

@media screen and (max-width: 800px){
    .container .contactInfo{
       border-right: none; 
    }
}
