body{
    margin: 0;
    padding: 0;
    color: #e5eff1;
    font-family: sans-serif;
}
/*Navigation Bar style*/ 
.logo{
    float: left;
    padding-left: 100px;
    padding-bottom: 20px
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: middle;
}

/* got rid of margin and padding in order to reset width of main nav*/
.mian-nav__item{
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a{
    text-decoration: none;
    color: #347594;
    font-weight: bold;
    padding: 3px 0;
}

/*pseduo class*/
.main-nav__item a:hover, .main-nav__item a:active {
    color:#00bcd4;
    border-bottom: 5px solid #347594;
}


/*This is the showcase*/
.showcase::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(unity.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}
.showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showacse:hover .content{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    width: 100%;
    transition: all 1000ms;
}
/*1rem =16px*/
.content .title{
    font-size: 2.2rem;
    margin-top: 1rem;
    color: #0c4159;
}

.content .text{
    line-height: 30px;
    margin-top: 1rem;
    color: #0c4159;
    font-size: 30px;
    text-align: left;
}
/*Month Header*/
.month{
    height: 200px;
    width: 100%;
    background: #0c4159;
    text-align: center;
}

/*Month List*/
.month ul{
    margin: 0;
    padding: 0;
}

.month ul li{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/*Previous button inside month header*/
.month .prev{
    float: left;
    padding-top: 10px;
}
/*Next Button*/
.month .next{
    float: right;
    padding-top: 10px;
}
/*Weekdays (mon-sun)*/
.weekdays{
    display: 0;
    padding: 20px;
    background-color: #347594;
}

.weekdays li{
    display: inline-block;
    width: 13.6%;
    color:white;
    text-align: center;
}

/*Days (1-31)*/

.days{
    padding: 10px 0;
    background: #00bcd4;
    margin: 0;
}

.days li{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: white;
}

.days li:hover{
    color: blue;
}

/*this is the contact part*/
.contact{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    background-color: #e5eff1;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: solid 2px black;
    
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#0c4159;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h2{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    width: 50%;
    padding: 40px;
    background-color: #0c4159;
}
.contactform h2{
    font-size: 30px;
    color:white;
    font-weight: 500;
}
.contactform label{
    color:white;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
@media screen and (max-width: 800px){
    .container .contactInfo{
       border-right: none; 
    }
}
